
<% provide(:title, "Contact") %>

    <h1>Contact Us, Beeotch</h1>
    <p>
      There are many ways that you can contact us.  if you <a href="#">click here</a> then pretty much nothing will happen.   you're welcome, beeotch.
</p> 